.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.back-primary-1 {
    background-color: #202945;
}

.back-primary-2 {
    background-color: #ce0e2d;
}

