{% extends 'base.html' %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Edit Record</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_record', lesson_id=lesson._id) }}">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                    <input id="lesson_date" name="lesson_date" value="{{ lesson.lesson_date }}" type="text" class="datepicker validate" required>
                    <label for="lesson_date">Lesson Date</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="fas fa-clock prefix light-blue-text text-darken-4"></i>
                    <input type="text" id="lesson_start" name="lesson_start" value="{{ lesson.lesson_start }}" class="timepicker" required>
                    <label for="lesson_start">Start Time</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="fas fa-clock prefix light-blue-text text-darken-4"></i>
                    <input type="text" id="lesson_finish" name="lesson_finish" value="{{ lesson.lesson_finish }}" class="timepicker" required>
                    <label for="lesson_finish">Finish Time</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-hourglass-start prefix light-blue-text text-darken-4"></i>
                    <select id="hours" name="hours" class="validate" required>
                        <option value="" disabled>Choose your option</option>
                        <option value="{{ lesson.hours }}" selected>{{ lesson.hours }}</option>
                        <option value="1">1</option>
                        <option value="1.25">1.25</option>
                        <option value="1.5">1.5</option>
                        <option value="2">2</option>
                        <option value="2.5">2.5</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                    <label for="hours">Hours</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-skiing prefix light-blue-text text-darken-4"></i>
                    <select id="lesson_type" name="lesson_type" class="validate" required>
                        <option value="" disabled>Choose your option</option>
                        {% for category in categories %}
                            {% if category.lesson_type == lesson.lesson_type %}
                                <option value="{{ category.lesson_type }}" selected>{{ category.lesson_type }}</option>
                            {% else %}
                                <option value="{{ category.lesson_type }}">{{ category.lesson_type }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="lesson_type">Lesson Type</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <div class="switch">
                        <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
                        <label for="mileage">
                            {% if lesson.mileage == 'Yes' %}
                                <input type="checkbox" id="mileage" name="mileage" checked>
                            {% else %}
                                <input type="checkbox" id="mileage" name="mileage">
                            {% endif %}
                            <span class="lever"></span>
                            Mileage?
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <div class="switch">
                        <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
                        <label for="expenses">
                            {% if lesson.expenses == 'Yes' %}
                                <input type="checkbox" id="expenses" name="expenses" checked>
                            {% else %}
                                <input type="checkbox" id="expenses" name="expenses">
                            {% endif %}
                            <span class="lever"></span>
                            Expenses?
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('get_lessons') }}" class="btn-large red text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large light-blue darken-1 text-darken-4">
                        Edit Record <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}