{% extends 'base.html' %}
{% block content %}

    <h1 class="center-align"> Norfolk Snowsports CLub</h1>
    <h3 class="center-align">Helpers Database</h3>

    <div class="row">
        <div class="col s12">
            <h4>About this site</h4>
            <p>This document is where instructors can record there voluntered lessons and claim expenses.</p>
            <p>The current expense per voluntered hour as an instructor/coach is <strong>£4.80</strong> with a minimum of <strong>£7.20</strong> per lesson. The mileage expense is caluclated by the amount of miles traveled from your house to Norfolk Snowsports club x <strong>£0.25</strong></p>
        </div>
        <div class="col s12">
            <h4>Overall Statistics</h4>
        </div>
        <div class="col s12">
            <h4>Need help? Contact Us.</h4>
        </div>
    </div>
{% endblock %}