{% extends 'base.html' %}
{% block content %}

    <h3 class="center-align">My Lessons</h3>

    <div class="row card-panel grey lighten-5">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper centre-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Users of Lesson Type</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_lessons') }}" class="red btn text-shadow">Reset</a>
                    <button type="submit" class="light-blue darken-1 btn text-shadow">
                        <i class="fas fa-search left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>
    {% if lessons|length > 0 %}
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>Finish Time</th>
                <th>Hours</th>
                <th>Expense Due</th>
                <th>Lesson Type</th>
                <th>Mileage?</th>
                <th>Claim Expenses?</th>
                <th>Edit?</th>
                <th>Delete?</th>
            </tr>
        </thead>
        
        <tbody>
            {% for lesson in lessons %}
                {% if session.user|lower == lesson.entry_by|lower or session.user == 'admin' %}
                <tr>
                    <td>{{ lesson.entry_by }}</td>
                    <td>{{ lesson.lesson_date }}</td>
                    <td>{{ lesson.lesson_start }}</td>
                    <td>{{ lesson.lesson_finish }}</td>
                    <td>{{ lesson.hours }}</td>
                    <td>{{ lesson.lesson_expense }}</td>
                    <td>{{ lesson.lesson_type }}</td>
                    <td>{{ lesson.mileage }}</td>
                    <td>{{ lesson.expenses }}</td>
                    <td><a href="{{ url_for('edit_record', lesson_id=lesson._id) }}" class="btn-small light-blue lighten-1">Edit</a></td>
                    <td><a href="{{ url_for('delete_record', lesson_id=lesson._id) }}" class="btn-small red lighten-1">Delete</a></td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody> 
        
    </table>
    {% else %}
    <h3 class="center-align">No Results Found</h3>
    {% endif %}
{% endblock %}